########################################################################
# Panels
########################################################################

style "panel"
{
### Panel's bg ###
	xthickness = 0
	ythickness = 0
	bg_pixmap[NORMAL] = "/panel/panel-bg.png" 
}

widget "*fast-user-switch*"	style "panel"
widget "*gdm-user-switch*" style "panel"
widget "*CPUFreq*Applet*" style "panel"
widget "*indicator-applet*"	style "panel"
class "PanelApp*" style "panel"
class "PanelToplevel*" style "panel"
widget_class "*PanelToplevel*" style "panel"
widget_class "*notif*" style "panel"
widget_class "*Notif*" style "panel"
widget_class "*Tray*" style "panel" 
widget_class "*tray*" style "panel"
widget_class "*computertemp*" style "panel"
widget_class "*Applet*Tomboy*" style "panel"
widget_class "*Applet*Netstatus*" style "panel"

widget "*GlobalMenu*" style "panel"

style "panel-light"
{
	fg[NORMAL]	= @fg_color
}

widget_class "*Notif*Beagle*" style "panel-light"
widget_class "*Notif*Brasero*" style "panel-light"

widget "*Xfce*Panel*" style "panel"
class "*Xfce*Panel*" style "panel"

style "handle" 
{
	engine "pixmap" 
	{
### Hanlde ###
		image
		{
			function = HANDLE
			file = "panel/handle.png"
			#border = {4, 4, 4, 4}
			stretch = FALSE
			orientation	= VERTICAL
		}	
	
		image
		{
			function = HANDLE
			file = "panel/handle.png"
			#border = {4, 4, 4, 4}
			stretch = FALSE
			orientation	= HORIZONTAL
		}
	}
}
class "PanelAppletFrame" style "handle"

style "panelapplets" = "panel"
{
	xthickness = 1
	ythickness = 1
}

widget_class "*Panel*Applet*" style:highest "panelapplets"
