GtkAboutDialog,GtkColorSelectionDialog,GtkFileChooserDialog,GtkFileSelection,GtkFontSelectionDialog,GtkInputDialog,GtkMessageDialog,GtkPageSetupUnixDialog,GtkPrintUnixDialog,GtkRecentChooserDialog,GtkDialog {
border-top-color: #a5e12d;
border-top-width: 2;
border-style: solid;
border-color: #a5e12d;
}
