/*
gtk3 sucks! want mist & pixbuf back
*/
*{
-GtkArrow-shadow-style: none;
-GtkArrow-arrow-scaling: 0.3;
}

.arrow {
-GtkArrow-arrow-type: down;
background-image: url("../../../gtk-2.0/theme/gtkarrow/image/arrow-down-active.gif");
border-width: 0;
color: #a5e12d;
}

GtkArrow{
-GtkArrow-arrow-type: right;
/*
background-image: url("image/arrow-normal.gif");
*/
border-width: 0;
color: #a5e12d;
}


GtkArrow :insensitive{
color: #555;
}
